discord {
  server {
    port = 7893
  }
  ownerId = 852628330611474432
  defaultPrefix = "-"
  token = "totally real token"
}

database {
    user = "sixenn-user"
    password = "pass"
    database = "sixenn"
    host = "localhost"
    port = 5432
}

twitter {
    prefix = "@SixennBot"
}


